In [46]:
# 必要なライブラリをインストール
! pip install requests certifi

# ライブラリのインポート
import pandas as pd
import requests
import tempfile
import certifi

# セキュリティを維持したままファイルをダウンロード
url = 'https://www.rug.nl/ggdc/docs/pwt90.dta'
response = requests.get(url, verify=certifi.where())  # SSL証明書の確認を行う
response.raise_for_status()  # ステータスコードをチェックし、問題があれば例外を発生

# 一時ファイルにデータを保存
with tempfile.NamedTemporaryFile(delete=False, suffix='.dta') as tmp:
    tmp.write(response.content)
    tmp_path = tmp.name  # 一時ファイルのパスを保持

# pandasでデータを読み込む
pwt90 = pd.read_stata(tmp_path)

# Filter and select relevant columns
data = pwt90.loc[pwt90['country'].isin(['United Kingdom'])][['year', 'countrycode', 'rgdpna', 'rkna', 'pop', 'emp', 'avh', 'labsh', 'rtfpna']]
data = data.loc[(data['year'] >= 1960) & (data['year'] <= 2000)].dropna()

Requirement already satisfied: requests in /Users/kurodayuuzou/.pyenv/versions/3.11.1/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: certifi in /Users/kurodayuuzou/.pyenv/versions/3.11.1/lib/python3.11/site-packages (2023.5.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/kurodayuuzou/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/kurodayuuzou/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/kurodayuuzou/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from requests) (1.26.18)

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [47]:
# Calculate additional variables
data['alpha'] = 1 - data['labsh']
data['y_n'] = data['rgdpna'] / data['emp']  # Y/N
data['hours'] = data['emp'] * data['avh']  # L
data['tfp_term'] = data['rtfpna'] ** (1 / (1 - data['alpha']))  # A^(1/(1-alpha))
data['cap_term'] = (data['rkna'] / data['rgdpna']) ** (data['alpha'] / (1 - data['alpha']))  # (K/Y)^(alpha/(1-alpha))
data['lab_term'] = data['hours'] / data['pop']  # L/N
data = data.sort_values('year').groupby('countrycode').apply(lambda x: x.assign(
    alpha=1 - x['labsh'],
    y_n_shifted=100 * x['y_n'] / x['y_n'].iloc[0],
    tfp_term_shifted=100 * x['tfp_term'] / x['tfp_term'].iloc[0],
    cap_term_shifted=100 * x['cap_term'] / x['cap_term'].iloc[0],
    lab_term_shifted=100 * x['lab_term'] / x['lab_term'].iloc[0]
)).reset_index(drop=True).dropna()

# Print first 10 rows of data
print(data.head(3))

   year countrycode       rgdpna        rkna        pop        emp  \
0  1960         GBR  671028.2500  2813235.25  52.352610  23.774094
1  1961         GBR  685483.8125  2913184.50  52.787446  24.049974
2  1962         GBR  697548.9375  2997102.75  53.272267  24.182936

           avh     labsh    rtfpna     alpha           y_n         hours  \
0  2208.754511  0.603153  0.591720  0.396847  28225.187500  52511.136539
1  2173.661236  0.603153  0.594753  0.396847  28502.476562  52276.497160
2  2156.257459  0.603153  0.596786  0.396847  28844.675781  52144.635511

   tfp_term  cap_term     lab_term  y_n_shifted  tfp_term_shifted  \
0  0.418967  2.567757  1003.028059   100.000000        100.000000
1  0.422533  2.590834   990.320632   100.982422        100.851234
2  0.424930  2.609570   978.832668   102.194801        101.423439

   cap_term_shifted  lab_term_shifted
0         99.999992        100.000000
1        100.898712         98.733094
2        101.628357         97.587765

/var/folders/_1/6pq414md0y1_mgwvl5dlnd2h0000gn/T/ipykernel_51932/1162399826.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data = data.sort_values('year').groupby('countrycode').apply(lambda x: x.assign(

In [65]:
# イギリス
data = pwt90.loc[pwt90['country'].isin(['United Kingdom']) & (pwt90['year'] >= 1960) & (pwt90['year'] <= 2000)]
data = data[['year', 'countrycode', 'rgdpna', 'rkna', 'pop', 'emp', 'avh', 'labsh', 'rtfpna']].dropna()

# 追加変数の計算
data['gdp_growth'] = data['rgdpna'].pct_change() * 100  # GDP成長率
data['tfp_growth'] = data['rtfpna'].pct_change() * 100  # TFP成長率
data['capital_deepening'] = ((data['rkna'] / data['emp']).pct_change()) * 100  # 資本深化
data['alpha'] = 1 - data['labsh']  # 労働のシェアから資本のシェアを計算
data['tfp_share'] = data['rtfpna'] / data['rgdpna']  # TFPシェア
data['capital_share'] = data['rkna'] / data['rgdpna']  # 資本シェア

In [67]:
# 結果の表示
print(data[['year', 'gdp_growth', 'tfp_growth', 'capital_deepening', 'tfp_share', 'capital_share']])

      year  gdp_growth  tfp_growth  capital_deepening     tfp_share  \
3975  1960         NaN         NaN                NaN  8.818114e-07
3976  1961    2.154243    0.512564           2.364945  8.676402e-07
3977  1962    1.760089    0.341833           2.314985  8.555476e-07
3978  1963    3.867686    1.798344           2.667916  8.385027e-07
3979  1964    5.614042    2.375484           3.295004  8.127907e-07
3980  1965    2.325571    0.455630           3.206193  7.979374e-07
3981  1966    1.948059    0.740147           3.651047  7.884832e-07
3982  1967    2.229297    1.393485           5.387759  7.820367e-07
3983  1968    7.165110    5.421209           4.944766  7.693105e-07
3984  1969   -0.872093   -2.729756           3.959727  7.548936e-07
3985  1970    2.052784    1.497304           3.981853  7.507847e-07
3986  1971    3.481662    2.931643           3.805602  7.467941e-07
3987  1972    4.227173    2.838159           2.990818  7.368417e-07
3988  1973    6.539977    3.360915           1.948607  7.148549e-07
3989  1974   -2.520949   -3.065526           2.664459  7.108613e-07
3990  1975   -1.549596   -1.569092           2.898109  7.107206e-07
3991  1976    3.028286    2.063787           3.115189  7.040671e-07
3992  1977    2.597046    1.267731           2.197254  6.949448e-07
3993  1978    4.129946    2.626121           1.930523  6.849086e-07
3994  1979    3.676164    2.693057           1.633286  6.784139e-07
3995  1980   -2.169305   -2.319211           2.460134  6.773744e-07
3996  1981   -0.846839    0.929606           4.740644  6.895103e-07
3997  1982    2.075398    2.506840           3.255880  6.924246e-07
3998  1983    4.201782    3.031242           1.926959  6.846464e-07
3999  1984    2.260387   -0.277334          -0.022131  6.676560e-07
4000  1985    4.113245    2.068698           1.358271  6.545447e-07
4001  1986    3.168344    2.084327           2.030778  6.476673e-07
4002  1987    5.560088    2.605176           0.475991  6.295373e-07
4003  1988    5.920041    1.656401          -0.045234  6.041963e-07
4004  1989    2.519095   -0.537723           0.778985  5.861809e-07
4005  1990    0.553584   -0.325310           1.620090  5.810574e-07
4006  1991   -1.257038    0.097072           4.419458  5.890258e-07
4007  1992    0.446403    1.930094           3.725231  5.977262e-07
4008  1993    2.635002    2.191520           2.130795  5.951435e-07
4009  1994    4.023969    1.723707           0.920570  5.819832e-07
4010  1995    2.521729    0.124562           1.146650  5.683753e-07
4011  1996    2.667820    0.508249           1.309156  5.564198e-07
4012  1997    3.098965    1.431525           0.071859  5.474207e-07
4013  1998    3.376460    0.742304           1.149845  5.334717e-07
4014  1999    3.112745    1.175439           0.735950  5.234488e-07
4015  2000    3.798842    2.177799           0.936067  5.152740e-07

      capital_share
3975       4.192424
3976       4.249823
3977       4.296620
3978       4.257834
3979       4.220539
3980       4.299910
3981       4.381737
3982       4.464670
3983       4.352863
3984       4.566800
3985       4.641014
3986       4.643909
3987       4.599881
3988       4.469260
3989       4.724903
3990       4.925249
3991       4.904006
3992       4.892823
3993       4.815713
3994       4.763587
3995       4.959961
3996       5.062994
3997       5.034135
3998       4.913865
3999       4.910030
4000       4.823356
4001       4.779999
4002       4.648652
4003       4.541525
4004       4.590783
4005       4.659985
4006       4.784678
4007       4.830167
4008       4.773463
4009       4.668354
4010       4.656081
4011       4.639017
4012       4.586237
4013       4.533851
4014       4.488973
4015       4.414515